{% extends 'base.html.twig' %}
{% block body %}
    <script>
        function validateEmail(email) {
            var re = /^[\w-\.]+@[\w-]+\.[a-z]{2,4}$/i;
            return re.test(email);
        }

        function validateTelephone(telephone) {
            var re = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im;
            return re.test(telephone);
        }

        function changeProfile(url) {
            let validate = true;

            const firstName = document.getElementById('profile-firstName');
            const lastName = document.getElementById('profile-lastName');
            const telephone = document.getElementById('profile-telephone');
            const email = document.getElementById('profile-email');
            const password = document.getElementById('profile-password');

            if(firstName.value === '')
            {
                firstName.classList.add("red-border");
                validate = false;
            }
            else
            {
                firstName.classList.remove("red-border");
            }

            if(lastName.value === '')
            {
                lastName.classList.add("red-border");
                validate = false;
            }
            else
            {
                lastName.classList.remove("red-border");
            }

            if(telephone.value === '' || !validateTelephone(telephone.value))
            {
                telephone.classList.add("red-border");
                validate = false;
            }
            else
            {
                telephone.classList.remove("red-border");
            }

            if(email.value === '' || !validateEmail(email.value))
            {
                email.classList.add("red-border");
                validate = false;
            }
            else
            {
                email.classList.remove("red-border");
            }

            if(password.value === '')
            {
                password.classList.add("red-border");
                validate = false;
            }
            else
            {
                password.classList.remove("red-border");
            }

            if (!validate) {
                alert('Неверные поля');
                return;
            }

            const data = JSON.stringify({
                firstName: document.getElementById('profile-firstName').value,
                lastName: document.getElementById('profile-lastName').value,
                patronymic: document.getElementById('profile-patronymic').value,
                birthday: document.getElementById('profile-birthday').value,
                telephone: document.getElementById('profile-telephone').value,
                email: document.getElementById('profile-email').value,
                password: document.getElementById('profile-password').value,
            });
            var formData = new FormData();
            if(document.getElementById("file-input").value !== "") {
                formData.append("photo", document.getElementById("file-input").files[0]);
            } else {
                formData.append("photo", document.getElementById("profile-current-image").getAttribute("src"));
            }
            formData.append("jsonData", data);

            var xhr = new XMLHttpRequest();

            xhr.onload = () => {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    alert('Изменение успешно');
                } else {
                    alert('Изменение не удалось');
                }
                location.reload();
            };
            xhr.open("POST", url);
            xhr.send(formData);
        }
    </script>
    <div class="profile-page page_content">
        {{ include('components/sidebar/sidebar.html.twig') }}
        <div class="profile page_content">
            <div class="profile page_content-row">
                <div class="profile-page">
                    <input id="file-input" type="file" hidden="">
                    <label for="file-input"><img id="profile-current-image" class="profile-image" src="{{ asset(userInfo.imagePath) }}" alt="Картинка не загрузилась"/></label>
                    <div class="profile-info-list">
                        <div class="profile-text">Имя: <input id="profile-firstName" class="profile-text" value="{{ userInfo.firstName }}"/></div>
                        <div class="profile-text">Фамилия: <input id="profile-lastName" class="profile-text" value="{{ userInfo.lastName }}"/></div>
                        <div class="profile-text">Отчество: <input id="profile-patronymic" class="profile-text" value="{{ userInfo.patronymic }}"/></div>
                        <div class="profile-text">Дата рождения: <input id="profile-birthday" type="date" class="profile-text" value="{{ userInfo.birthday }}"/></div>
                        <div class="profile-text">Телефон: <input id="profile-telephone" type="tel" required class="profile-text" value="{{ userInfo.telephone }}"/></div>
                        <div class="profile-text">Почта: <label for="profile-email"></label><input id="profile-email" type="email" class="profile-text" value="{{ userInfo.email }}"/></div>
                        <div class="profile-text">Пароль: <input id="profile-password" type="password" class="profile-text" value="{{ userInfo.password }}"/></div>
                    </div>
                </div>
            </div>
            <div class="profile-button-container" onclick="changeProfile('{{ updateUserUrl }}')">
                {{ component('Button', { message: 'Изменить'}) }}
            </div>
        </div>
    </div>
{% endblock %}